{{template "header" .}}
	<title>登陆</title>
</head>
<body>
	<div class="container" style="width: 500px;margin-top: 100px">
		<form method="POST" action="/login">
		  <div class="form-group">
		    <label>账户</label>
		    <input id="uname" class="form-control" placeholder="username" name="username">
		  </div>
		  <div class="form-group">
		    <label>密码</label>
		    <input id="pwd" type="password" class="form-control" placeholder="password" name="password">
		  </div>
		  <div class="checkbox">
		    <label>
		      <input type="checkbox" name="autologin"> 记住我
		    </label>
		  </div>
		  <button type="submit" class="btn btn-default" onclick="return checkInput()">登陆</button>
		</form>
	</div>
	<script>
		function checkInput(){
			var uname = document.getElementById("uname")
			if (uname.value.length === 0){
				alert("用户名不能为空")
				return false
			}
			var pwd = document.getElementById("pwd")
			if (pwd.value.length === 0 ){
				alert("密码不能为空")
				return false
			}
			return true
		}
	</script>
</body>
</html>